<br/><br/><br/>
<table align="center">
    <%= form_tag(url: {:action=> "reset_password"}, method: :post) do%>
     <tr>
          <td><% label_tag :token%></td>
          <td><% email_field_tag :token, :value=> "yes"%></td>
      </tr>
      <tr>
          <td><%= label_tag :email%></td>
          <td><%= email_field_tag :email%></td>
      </tr>
      <tr>
          <td><%= label_tag :password%></td>
          <td><%= password_field_tag :password%></td>
      </tr>
      <tr>
          <td><%= label_tag :confirm_password%></td>
          <td><%= password_field_tag :confirm_password%></td>
      </tr>
      <tr>
          <td><%= submit_tag "change password"%></td>
      </tr>
    <%end%>
</table>