<!DOCTYPE html>
<html>
<head>
  <title>CellStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body align="center">
  <strong style="color:red"><%= "We are at #{params[:action]} page of #{params[:controller]} controller"%></strong>
  <% flash.each do |key,value|%>
    <%= value%>
  <%end%>

<%= yield %>
<br/>

<h1 align="right"><%= link_to "logout", users_logout_path, :class=> "btn btn-primary" if not session[:user_id].blank?%></h1>

</body>
</html>
